<html>
    <head>
        <title>Edit Product</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div th:replace="/Demo/header :: header"></div>
        <div class="container">
            <h2>Edit Product</h2>
            <form th:action="@{/product/create}" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name"  th:value="${product.name}">
                    <div th:if="${errors != null and errors['name'] != null}" th:style="'color: red;'">
                        <small th:text="${errors['name']}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" name="price"  th:value="${product.price}" value="0">
                    <div th:if="${errors != null and errors['price'] != null}" th:style="'color: red;'">
                        <small th:text="${errors['price']}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-select" aria-label="Default select example" name="category.id">
                        <option th:each="x : ${categorys}" th:value="${x.id}" th:text="${x.name}" ></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
        <div th:replace="/Demo/footer :: footer"></div>
    </body>
</html>
