<!DOCTYPE html>
<html>
    <head>
        <title>Category List</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2>Category List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="x:${categorys}">
                        <td th:text="${x.id}"></td>
                        <td th:text="${x.name}"></td>
                        <td><a th:href="@{/category/edit/{id} (id = ${x.id})}" class="btn btn-danger">Edit</a>
                            <a th:href="@{/category/delete/{id} (id = ${x.id})}" class="btn btn-warning">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            <a href="/category/add" class="btn btn-primary">Add New Category</a>
        </div>
    </body>
</html>
